
.top{
	width:90%;
	margin: 20px auto;

}
.top .imgs{
	width:100%;
	height:160px;
	background: aquamarine;
	margin-bottom: 15px;
}
.top .imgs img{
	display: block;
	width: 100%;
}
.top .artical{
	width:100%;
}
.top .artical P{
	margin-bottom: 30px;
}
